Q1. How do you comment code in Python? What are the different types of comments?

In [6]:
#  single lines comment
''' multiple line comment '''
""" multiple line comment """

' multiple line comment '

Q2. What are variables in Python? How do you declare and assign values to variables?

In [1]:
# variables are used to store values of different datatypes
var = 12  # <-- int variable
lst = ["y", 78.00 ]
boolean = True

Q3. How do you convert one data type to another in Python?

In [2]:
# by type casting
a = 5
string = str(a)
print(f'{string} has the data type { type(string)} ')

5 has the data type <class 'str'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
''' 1) open the folder where the python file is stored, using cd
    2) write the command -> python file_name.py
    '''

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [10]:
my_list = [1,2,3,4,5]
print( my_list[1:3])
print( my_list[-4:-2])

[2, 3]
[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [12]:
# complex number has a real part and an imaginary part
comp = 3 + 8j
com = 4+ 9J
type(com)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
price = 9.99
type( price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [18]:
name = "Anjali Sharma"
print(name[0])
print(name[3:90])
print(name)

A
ali Sharma
Anjali Sharma

Q10. Given the string "Hello, World!", extract the substring "World".

In [19]:
string = "Hello World"
print( string[-5 : ] )

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [21]:
is_student = True
type( is_student)

bool