Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# question-1
string_type = "hello pw skills"
list_type = [2,3,4,string_type]
float_type = 23.45
tuple_type = (23,4,5,2)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [4]:
#question-2
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
#question_3
a = 9
b = 5
# / is used to divide two numeric variables
print(a/b)

# % is used to return the remainder after division
print(a%b)

# // is used to return the floor value
print(a//b)

# ** is used to return the power 
print(a**b)

1.8
4
1
59049

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
lst = ["hello", "this" , 56, 78.99, [4,5,6], (7,8) ,'great',True, False, 89]

for i in lst:
    print(i)
    print("it has the datatype: ", type(i))

hello
it has the datatype:  <class 'str'>
this
it has the datatype:  <class 'str'>
56
it has the datatype:  <class 'int'>
78.99
it has the datatype:  <class 'float'>
[4, 5, 6]
it has the datatype:  <class 'list'>
(7, 8)
it has the datatype:  <class 'tuple'>
great
it has the datatype:  <class 'str'>
True
it has the datatype:  <class 'bool'>
False
it has the datatype:  <class 'bool'>
89
it has the datatype:  <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
c = 40
a = c
b = 2
count = 0
while(a % b ==0):
    count = count+1
    a = a/b
print( str(c) + " is purely divisible by " + str(b) + " -> " + str(count) +" times")

40 is purely divisible by 2 -> 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
lst = list( range(1,26) )
for i in lst:
    if(i % 3 == 0):
        print(i, " is dividible by 3")
    else:
        print( i, " is not divisible by 3 ")

1  is not divisible by 3
2  is not divisible by 3
3  is dividible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is dividible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is dividible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is dividible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is dividible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is dividible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is dividible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is dividible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [30]:
# mutable data can be changed i.e. modified, added, removed etc for example dict, list, set.
# immmutable data cannot be cahnged at all e.g. tuple, string.

dictionary = {"core" : "i7" , "intell" : "core"}
dictionary["core"] = "hello"
print(dictionary)

string = "hello"
#  string[1] = "u"    <--- it will give error

{'core': 'hello', 'intell': 'core'}