Q1. What is a database? Differentiate between SQL and NoSQL databases.

    Ans) A database is a structured collection of data that is organized, stored and managed in a way that facilitates efficient retreival, manipulation, and analysis of information. Databases are essential invarious fields, including software deveelpment, data science and more. 
    SQl Databases: They use a relational data model, structured schema, and SQL query language. They are suitable for application with well-defined schemas and require transactions and complex quierying.
    NoSQL Dataabases: They are unstructured, and comes with scema flexibility and are best suitaed for applications that require handling unstructured or changing data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

    Ans) DDL stands for Data Definition Language. It is a subset of SQL that is used to define and manage the structure of a database and its objects. DDL commands are responsile for creating, altering and deleting databases objects such as tables, indexes, views, and schemas.

    CREATE: To create a column.
        create table student (name varchar(100), id integer(2) primary key);
    
    DROP: To delete a column or the whole table.
        drop table student;
        
    ALTER: To alter a column.
        alter table student add (class integer(2));
        
    TRUNCATE: Used to delete all the rows from a table, leaving an empty table.
        truncate table student;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

    Ans) DML stands for Data Manipulation language. It is a subset of SQL that is used to interact with and manipulate data stored in a database. DML commands allow us to insertm update, ad delete data in database tables, as well as retreive data using various querying techniques.
    INSERT: Used to insert row in a table.
        insert into students (name, id, class) values(krishna, 2, 10);
        
    UPDATE: Used to updata exiting data in the table.
        updata students set name = 'Kanha' where id=2;
        
    DELETE: Used to delete data in a table.
        delete from student where id=2;

Q4. What is DQL? Explain SELECT with an example.

    Ans) DQL stands for Data Query Language. DQL commands are used to poeform searches, retureve specific information, and filter data based on specified criteria.
    
    In essence, DQL commands are all about qurying a database to obtain the desired information. The primary DQL command is"
    SELECT: Used to retrieve data from one or mre tables based on specific conditions and criteria. It is the core command for qurying a database and is essential for extracting meaningful insights from stored data.
    
        select * from students;
        select name, class from student where id=2;

Q5. Explain Primary Key and Foreign Key.

    Ans) Primary key is a unique identifier for each row in a table. It ensures that each record can be uniquely identified and that not two records have the same primary kwy value.
    The primary key serves as the main method of uniquely identifying and accessing data in a table. It is used to enforce entity integrity, meaning that every row in the table is distinct. It ensures that NULL is not allowed.
    
    Foreign key: A foreign key is a column or set of columns in one table that is used to establish a link between the data in two tables. It references the primary key of anoher table and creates a relationship between them. It cerates referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector as mc

mydb = mc.connect(
    host='localhost',
    user='abc',
    password='password'
)

mycursor = mydb.cursor()

mycursor.execute('create database students;')
mycursor.execute('use students;')
mycursor.execute('create table student (name varchar(100), id integer(2) primary key);')
mycursor.execute('insert into student values("kanha", 32);')
mydb.commit()
mydb.close()

ModuleNotFoundError: No module named 'sql'

Ans) .cursor() makes it possible, with its functions to carry out queries in the db object.
execute() is used to run the queries of sql through python.

Q7. Give the order of execution of SQL clauses in an SQL query.

    Ans) FROM > WHERE > GROUP BY> HAVING> SELECT etc