Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
sr = pd.Series([4, 8, 15, 16, 23,42])
sr

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [7]:
lst =[1,2,3,4,5,6,7,8,9,10]
sr = pd.Series(lst)
print(sr)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [8]:
data ={'name':['alice','bob','claire'], 'age':[25,30,27],'gender':['female','male','female']}
df = pd.DataFrame(data)
df

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans) In pandas, dataframe is a 2-dimensional data structure. It has rows and columns to arrange data. Series is another data structure but it's 1 dimenstional.

In [ ]:
data ={'name':['alice','bob','claire'], 'age':[25,30,27],'gender':['female','male','female']}
df = pd.DataFrame(data)
print(df.ndim)

lst =[1,2,3,4,5,6,7,8,9,10]
sr = pd.Series(lst)
print(sr.ndim)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [15]:
# There are many functions in dataframes, which we can use to see the data and understand it properly
# -> df.head(), df.tail()
# -> df.columns
# -> describe()
# -> df.dtypes
# -> pandas.read_html
# -> df.to_csv( 'filepath' )

print( df.head(2) )
print( df.tail(2) )
print( df.columns )
print( df.dtypes )
print( df.describe() )

    name  age  gender
0  alice   25  female
1    bob   30    male
     name  age  gender
1     bob   30    male
2  claire   27  female
Index(['name', 'age', 'gender'], dtype='object')
name      object
age        int64
gender    object
dtype: object
             age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans) All of the mentioned data structures are value mutables. All other except series are size mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [20]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([3,4,5,6])
s3 = pd.Series([6,1,0,8])

data = { 'A':s1, 'B':s2, 'C':s3 }

df = pd.DataFrame(data)
df

   A  B  C
0  1  3  6
1  2  4  1
2  3  5  0
3  4  6  8

In [32]:
df[df.dtypes[[df.dtypes=='int64']]].index

KeyError: "None of [Index([(True, True, True)], dtype='object')] are in the [index]"